{# templates/app/acc_profil.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
Mon compte | {{ parent() }}
{% endblock %}

{% block breadcrumb %}
{{ parent() }}
<li class="list-inline-item seprate">
    <span>/</span>
</li>
<li class="list-inline-item active">
    Mon compte
</li>
{% endblock %}

{% block body %}
<div class="col-md-12" style="margin-bottom: 25px;">
    <div class="overview-wrap">
        <h2 class="title-1">MON COMPTE</h2>
        <a class="au-btn au-btn-icon au-btn--blue" href="{{ path('annuaire') }}">
            <i class="zmdi zmdi-accounts-list-alt"></i> Consulter l'annuaire
        </a>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Mon compte</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2">
                    <img src="{{ asset(app.user.profilimage) }}" alt="{{ app.user.name }}" width="128px" style="border-radius: 50%;" />
                </div>
                <div class="col-lg-8">
                    <h2 class="title-6 mb-6" style="color: #393939;">{{ app.user.name }}</h2>
                    <p>
                        <span style="font-size: 75%;">{{ app.user.email }}</span><br>
                        Votre profil est : {% if app.user.public == false %}privé{% else %}public{% endif %}.
                    </p>
                    <p>
                        <ul class="vue-lists">
                            <li>Date de naissance : {{ app.user.birthday|date("d/m/Y") }}</li>
                            <li>Groupe : {{ app.user.usergroup }}</li>
                            <li>Droits :
                                <ul class="vue-lists">
                                    {% for role in app.user.roles %}
                                    {% if role == 'ROLE_ADMIN' %}
                                    <li>Administrateur</li>
                                    {% elseif role == 'ROLE_MODERATEUR' %}
                                    <li>Modérateur</li>
                                    {% elseif role == 'ROLE_USER' %}
                                    <li>Utilisateur</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p>
                        <a href="{{ path('parameters') }}" class="btn btn-outline-secondary"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;Paramètres</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}