{# templates/app/matieres.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
{{ app.request.attributes.get('_route_params').dpt }} - {{ app.request.attributes.get('_route_params').annee }} | {{ parent() }}
{% endblock %}

{% block breadcrumb %}
{{ parent() }}
<li class="list-inline-item seprate">
    <span>/</span>
</li>
<li class="list-inline-item">
    {{ app.request.attributes.get('_route_params').dpt }}
</li>
<li class="list-inline-item seprate">
    <span>/</span>
</li>
<li class="list-inline-item">
    <a href="/{{ app.request.attributes.get('_route_params').dpt }}/{{ app.request.attributes.get('_route_params').annee }}">
        {{ app.request.attributes.get('_route_params').annee }}
    </a>
</li>
<li class="list-inline-item seprate">
    <span>/</span>
</li>
<li class="list-inline-item {% if app.request.attributes.get('_route') == "matieresAnnee" %}active{% endif %}">
    <a href="/{{ app.request.attributes.get('_route_params').dpt }}/{{ app.request.attributes.get('_route_params').annee }}/matieres">
        Matières
    </a>
</li>
{% endblock %}

{% block body %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Matières</strong>
        </div>
        <div class="card-body">
            <p>Pour accéder aux ressources disponibles, sélectionnez la matière désirée :</p>
            <form method="POST">
                <div class="form-group">
                    <select class="form-control" name="id" {% if listMatieres|length == 0 %}disabled="" {% endif %}>
                        {% for matiere in listMatieres %}
                        <option value="{{ matiere.id }}">{{ matiere.nom }} ({{ matiere.specialite }})</option>
                        {% else %}
                        <option>Aucune matière renseignée</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button id="payment-button" type="submit" class="btn btn-lg btn-primary btn-block" {% if listMatieres|length == 0 %}disabled="" {% endif %}>
                        <i class="far fa-check-circle"></i>&nbsp;
                        <span id="payment-button-amount">Valider</span>
                        <span id="payment-button-sending" style="display:none;">Sending…</span>
                    </button>
                    <a class="btn btn-primary btn-block" href=""><i class="fas fa-plus-circle"></i>&nbsp;Ajouter une matière</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}