{# templates/app/acc_profil.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
Compte de {{ user.name }} | {{ parent() }}
{% endblock %}

{% block breadcrumb %}
{{ parent() }}
<li class="list-inline-item seprate">
    <span>/</span>
</li>
<li class="list-inline-item">
    <a href="{{ path('annuaire') }}">Annuaire</a>
</li>
<li class="list-inline-item seprate">
    <span>/</span>
</li>
<li class="list-inline-item active">
    Compte de {{ user.name }}
</li>
{% endblock %}

{% block body %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Compte de {{ user.name }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2">
                    <img src="{{ asset(user.profilimage) }}" alt="{{ user.name }}" />
                </div>
                <div class="col-lg-8">
                    <h2 class="title-6 mb-6" style="color: #393939;">{{ user.name }}</h2>
                    <p>
                        <span style="font-size: 75%;">{% if user.public == true %}{{ user.email }}{% else %}Le mail est privé.{% endif %}</span>
                    </p>
                    <p>
                        <ul class="vue-lists">
                            <li>Date de naissance : {{ user.birthday|date("d/m/Y") }}</li>
                            <li>Groupe : {{ user.usergroup }}</li>
                            <li>Droits :
                                <ul class="vue-lists">
                                    {% for role in user.roles %}
                                    {% if role == 'ROLE_ADMIN' %}
                                    <li>Administrateur</li>
                                    {% elseif role == 'ROLE_MODERATEUR' %}
                                    <li>Modérateur</li>
                                    {% elseif role == 'ROLE_USER' %}
                                    <li>Utilisateur</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}