{# templates/Security/lost_password.html.twig #}

{% extends "Security/login.html.twig" %}

{% block title %}
Récupération de votre compte | Annales ESIREM
{% endblock %}

{% block form %}
<p style="border-bottom: 1px solid #e7e7e7; margin-bottom: 20px; padding-bottom: 5px;">
    Saisissez l'adresse e-mail attachée à votre compte Annales ESIREM pour envoyer la demande de changement de mot de passe.
</p>
{{ form_start(form) }}
    {% if form_errors(form) %}
    <div class="form-group">
        <div class="alert au-alert-danger alert-dismissible fade show au-alert" role="alert" style="margin-bottom: 20px;">
            <i class="zmdi zmdi-alert-triangle"></i>
            <span class="content"><strong>Une erreur s'est produite !</strong>
                {{ form_errors(form) }}
            </span>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    <i class="zmdi zmdi-close-circle"></i>
                </span>
            </button>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'au-input au-input--full'}}) }}
    </div>
    {{ form_rest(form) }}
    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Valider la demande</button>
</form>

{% endblock %}
