{# templates/Security/register.html.twig #}

{% extends "Security/login.html.twig" %}

{% block title %}
Création d'un compte | Annales ESIREM
{% endblock %}

{% block form %}

{{ form_start(form) }}
    {% if form_errors(form) %}
    <div class="form-group">
        <div class="alert au-alert-danger alert-dismissible fade show au-alert" role="alert" style="margin-bottom: 20px;">
            <i class="zmdi zmdi-alert-triangle"></i>
            <span class="content"><strong>Une erreur s'est produite !</strong>
                {{ form_errors(form) }}
            </span>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    <i class="zmdi zmdi-close-circle"></i>
                </span>
            </button>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'au-input au-input--full'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'au-input au-input--full'}}) }}
    </div>
    <div class="form-group">
        <label for="user_password_first" class="required">Mot de passe</label>
        <input type="password" id="user_password_first"
            name="user[password][first]" required="required" class="au-input au-input--full">
        <label for="user_password_second" class="required">Confirmer le mot de passe</label>
        <input type="password"
            id="user_password_second" name="user[password][second]" required="required" class="au-input au-input--full">
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'au-input au-input--full'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.birthday) }}
        {{ form_errors(form.birthday) }}
        {{ form_widget(form.birthday, {'attr': {'class': 'au-input au-input--full'}}) }}
    </div>
    <div class="login-checkbox">
        {{ form_errors(form.public) }}
        <label>
            <input type="checkbox" id="user_public" name="user[public]">
            Rendre mon profil visible dans l'annuaire.
        </label>
    </div>
    <div class="form-group">
        {{ form_label(form.profilimage) }}
        {{ form_errors(form.profilimage) }}
        {{ form_widget(form.profilimage, {'attr': {'class': 'au-input au-input--full'}}) }}
    </div>
    <div class="login-checkbox">
        <label>
            <input type="checkbox" name="aggree" required>
            Accepter les conditions d'utilisation.
        </label>
    </div>
    <input type="hidden" id="user__token" name="user[_token]" value="{{ csrf_token('create-account') }}">
    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Créer mon compte</button>
</form>
<div class="register-link">
    <p>
        Vous avez déjà un compte ?
        <a href="{{ path('login') }}">Se connecter</a>
    </p>
</div>

{% endblock %}
