{# templates/index.html.twig #}

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>{% block title %}Annales ESIREM{% endblock %}</title>

    <!-- Fontfaces CSS-->
    {% block stylesheets %}
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    
    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    {% endblock %}
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop4">
            <div class="container">
                <div class="header4-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <img src="https://esirem.u-bourgogne.fr/wp-content/uploads/2019/12/cropped-logo-couleur-site-web.png" alt="ESIREM" height="30px" />
                        </a>
                        <h1 class="title-2" style="margin-left: 10px;"><strong>Annales</strong><br>
                        <small style="text-transform: none;">ESIREM | uB</small></h1>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item {% if listNotifications|length > 0 %} has-noti {% endif %} js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown js-dropdown">
                                <div class="notifi__title">
                                    <p>Vous avez {{ listNotifications|length }} notification{% if listNotifications|length > 0 %}s{% endif %}.</p>
                                </div>
                                {% for notification in listNotifications %}
                                <div class="notifi__item">
                                    <div class="badge-{{ notification.category }} img-cir img-40">
                                        <i class="zmdi zmdi-{{ notification.icon }}"></i>
                                    </div>
                                    <div class="content">
                                        <p>{{ notification.message }}</p>
                                        <span class="date">{{ notification.date|date("d/m/Y") }}</span>
                                    </div>
                                </div>
                                {% else %}
                                <div class="notifi__item">
                                    <div class="badge-secondary img-cir img-40">
                                        <i class="zmdi zmdi-notifications-none"></i>
                                    </div>
                                    <div class="content">
                                        <p>Bon travail, aucune notification !</p>
                                        <span class="date">{{ "now"|date("d/m/Y") }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="notifi__footer">
                                    <a href="#">Voir toutes les notifications</a>
                                </div>
                            </div>
                        </div>
                        {# <div class="header-button-item js-item-menu">
                            <i class="zmdi zmdi-settings"></i>
                            <div class="setting-dropdown js-dropdown">
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>Account</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-settings"></i>Setting</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-money-box"></i>Billing</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-globe"></i>Language</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-pin"></i>Location</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-email"></i>Email</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-notifications"></i>Notifications</a>
                                    </div>
                                </div>
                            </div>
                        </div>#}
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div class="image">
                                    <img src="{#{ assert(app.user.profilimage) }#}" alt="{#{ app.user.name }#}" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">{#{ app.user.name }#}</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="{#{ assert(app.user.profilimage) }#}" alt="{#{ app.user.name }#}" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">{#{ app.user.name }#}</a>
                                            </h5>
                                            <span class="email">{#{ app.user.email }#}</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="{#{ path('') }#}">
                                                <i class="zmdi zmdi-account"></i>Mon compte</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="{#{ path('') }#}">
                                                <i class="zmdi zmdi-settings"></i>Paramètres</a>
                                        </div>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <div class="account-dropdown__item account-dropdown__separated">
                                            <a href="{#{ path('') }#}">
                                                <i class="zmdi zmdi-key"></i>Console administrateur</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="{#{ path('') }#}">
                                            <i class="zmdi zmdi-power"></i>Déconnexion</a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="image">
                                    <img src="img/user.png" alt="Invité" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">Invité</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="img/user.png" alt="Invité" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">Invité</a>
                                            </h5>
                                            <span class="email">Utilisateur non enregistré</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="{#{ path('') }#}">
                                                <i class="zmdi zmdi-power"></i>Se connecter</a>
                                        </div>
                                    </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP -->

        <!-- WELCOME-->
        <section class="welcome2 p-t-40 p-b-55">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb3">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">Vous êtes ici :</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="{{ path('index') }}">Annales ESIREM</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    {% block breadcrumb %}
                                    <li class="list-inline-item">Accueil</li>
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="welcome2-inner m-t-60">
                            <div class="welcome2-greeting">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <h1 class="title-6">Bonjour
                                    <span>{{ app.user }}</span>, bienvenue !</h1>
                                <p>Nous sommes très heureux de vous revoir. Commencez votre navigation. N'hésitez pas à contribuer à ajouter des documents pour les futures générations d'ESIREMiens !</p>
                            {% else %}
                                <h1 class="title-6">Bienvenue sur le site des annales de l'ESIREM !</h1>
                                <p>Nous serions heureux de faire votre connaissance. <a href="{{ path('register') }}">Créez votre espace</a> et accédez à toute notre bibliothèque d'annales. Déjà membre ? <a href="{{ path('login') }}">Connectez-vous</a> pour profitez de la bibliothèque disponible !</p>
                            {% endif %}
                            </div>
                            <form class="form-header form-header2" action="" method="post">
                                <input class="au-input au-input--w435" type="text" name="search" placeholder="Rechercher un document...">
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->

        <!-- PAGE CONTENT-->
        <div class="page-container3">
            {% block alerts %}
            <section class="alert-wrap p-t-70 p-b-70">
                <div class="container">
                    <!-- ALERT-->
                    <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                        <i class="zmdi zmdi-check-circle"></i>
                        <span class="content">You successfully read this important alert message.</span>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                        </button>
                    </div>
                    <!-- END ALERT-->
                </div>
            </section>
            {% endblock %}
            
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3">
                            <!-- MENU SIDEBAR-->
                            <aside class="menu-sidebar3 js-spe-sidebar">
                                <nav class="navbar-sidebar2 navbar-sidebar3">
                                    <ul class="list-unstyled navbar__list">
                                        <li class="" id="index">
                                            <a class="js-arrow" href="{{ path('index') }}">
                                                <i class="fas fa-home"></i>Accueil
                                            </a>
                                        </li>
                                        <li class="has-sub" id="1A">
                                            <a class="js-arrow" href="#">
                                                <i class="fas fa-graduation-cap"></i>1<sup>ère</sup> Année GEIPI
                                                <span class="arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </span>
                                            </a>
                                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                                <li>
                                                    <a href="">La 1<sup>ère</sup> année</a>
                                                </li>
                                                <li>
                                                    <a href="">L'agenda</a>
                                                </li>
                                                <li>
                                                    <a href="">Les informations</a>
                                                </li>
                                                <li>
                                                    <a href="">Les matières</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-sub" id="2A">
                                            <a class="js-arrow" href="#">
                                                <i class="fas fa-graduation-cap"></i>2<sup>ème</sup> Année GEIPI
                                                <span class="arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </span>
                                            </a>
                                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                                <li>
                                                    <a href="">La 2<sup>ème</sup> année</a>
                                                </li>
                                                <li>
                                                    <a href="">L'agenda</a>
                                                </li>
                                                <li>
                                                    <a href="">Les informations</a>
                                                </li>
                                                <li>
                                                    <a href="">Les matières</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-sub" id="IE">
                                            <a class="js-arrow" href="#">
                                                <i class="fab fa-android"></i>Ingénieur IE
                                                <span class="arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </span>
                                            </a>
                                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                                <li class="has-sub">
                                                    <a class="sub-js-arrow" href="#">
                                                        <i class="fas fa-graduation-cap"></i>1<sup>ère</sup> Année
                                                        <span class="arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="list-unstyled navbar__sub-list sub-js-sub-list">
                                                        <li>
                                                            <a href="">La 1<sup>ère</sup> année Ingénieur IE</a>
                                                        </li>
                                                        <li>
                                                            <a href="">L'agenda</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les informations</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les matières</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a class="sub-js-arrow" href="#">
                                                        <i class="fas fa-graduation-cap"></i>2<sup>ème</sup> Année
                                                        <span class="arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="list-unstyled navbar__sub-list sub-js-sub-list">
                                                        <li>
                                                            <a href="">La 2<sup>ème</sup> année Ingénieur IE</a>
                                                        </li>
                                                        <li>
                                                            <a href="">L'agenda</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les informations</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les matières</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a class="sub-js-arrow" href="#">
                                                        <i class="fas fa-graduation-cap"></i>3<sup>ème</sup> Année
                                                        <span class="arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="list-unstyled navbar__sub-list sub-js-sub-list">
                                                        <li>
                                                            <a href="">La 3<sup>ème</sup> année Ingénieur IE</a>
                                                        </li>
                                                        <li>
                                                            <a href="">L'agenda</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les informations</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les matières</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-sub" id="MDD">
                                            <a class="js-arrow" href="#">
                                                <i class="fas fa-atom"></i>Ingénieur MDD
                                                <span class="arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </span>
                                            </a>
                                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                                <li class="has-sub">
                                                    <a class="sub-js-arrow" href="#">
                                                        <i class="fas fa-graduation-cap"></i>1<sup>ère</sup> Année
                                                        <span class="arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="list-unstyled navbar__sub-list sub-js-sub-list">
                                                        <li>
                                                            <a href="">La 1<sup>ère</sup> année Ingénieur MDD</a>
                                                        </li>
                                                        <li>
                                                            <a href="">L'agenda</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les informations</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les matières</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a class="sub-js-arrow" href="#">
                                                        <i class="fas fa-graduation-cap"></i>2<sup>ème</sup> Année
                                                        <span class="arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="list-unstyled navbar__sub-list sub-js-sub-list">
                                                        <li>
                                                            <a href="">La 2<sup>ème</sup> année Ingénieur MDD</a>
                                                        </li>
                                                        <li>
                                                            <a href="">L'agenda</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les informations</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les matières</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a class="sub-js-arrow" href="#">
                                                        <i class="fas fa-graduation-cap"></i>3<sup>ème</sup> Année
                                                        <span class="arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="list-unstyled navbar__sub-list sub-js-sub-list">
                                                        <li>
                                                            <a href="">La 3<sup>ème</sup> année Ingénieur MDD</a>
                                                        </li>
                                                        <li>
                                                            <a href="">L'agenda</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les informations</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les matières</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-sub" id="ROBOTIQUE">
                                            <a class="js-arrow" href="#">
                                                <i class="fas fa-robot"></i>Ingénieur Robotique
                                                <span class="arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </span>
                                            </a>
                                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                                <li class="has-sub">
                                                    <a class="sub-js-arrow" href="#">
                                                        <i class="fas fa-graduation-cap"></i>1<sup>ère</sup> Année
                                                        <span class="arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="list-unstyled navbar__sub-list sub-js-sub-list">
                                                        <li>
                                                            <a href="">La 1<sup>ère</sup> année Ingénieur Robotique</a>
                                                        </li>
                                                        <li>
                                                            <a href="">L'agenda</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les informations</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les matières</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a class="sub-js-arrow" href="#">
                                                        <i class="fas fa-graduation-cap"></i>2<sup>ème</sup> Année
                                                        <span class="arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="list-unstyled navbar__sub-list sub-js-sub-list">
                                                        <li>
                                                            <a href="">La 2<sup>ème</sup> année Ingénieur Robotique</a>
                                                        </li>
                                                        <li>
                                                            <a href="">L'agenda</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les informations</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les matières</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a class="sub-js-arrow" href="#">
                                                        <i class="fas fa-graduation-cap"></i>3<sup>ème</sup> Année
                                                        <span class="arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="list-unstyled navbar__sub-list sub-js-sub-list">
                                                        <li>
                                                            <a href="">La 3<sup>ème</sup> année Ingénieur Robotique</a>
                                                        </li>
                                                        <li>
                                                            <a href="">L'agenda</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les informations</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Les matières</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="" id="informations">
                                            <a class="js-arrow" href="{{ path('index') }}">
                                                <i class="fas fa-info-circle"></i>Informations
                                            </a>
                                        </li>
                                        <li class="" id="mentions-legales">
                                            <a class="js-arrow" href="{{ path('index') }}">
                                                <i class="fas fa-copyright"></i>Mentions légales
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </aside>
                            <!-- END MENU SIDEBAR-->
                        </div>
                        <div class="col-xl-9">
                            <!-- PAGE CONTENT-->
                            <div class="page-content">
                                <div class="row">
                                    {% block body %}
                                    {% endblock %}
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="copyright">
                                            <p>
                                                Made with <i class="fas fa-heart"></i> & <i class="fas fa-coffee"></i> by Nicolas TOURRETTE. Copyright © {{ 'now'|date('Y') }}. Tous droits réservés. Conception <a href="https://colorlib.com" target="_blank">Colorlib</a>.
                                            </p>
                                            <p>
                                                Ce site n'est pas officiel et est propulsé par des étudiants de l'école. Le site officiel de l'ESIREM est accessible à <a href="https://esirem.u-bourgogne.fr" target="_blank">ce lien</a>.
                                            </p>
                                            <br>
                                            <p>
                                                Version 3.0.0 (Feb 29 2020)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT-->
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- END PAGE CONTENT  -->

    </div>

    {% block javascripts %}
    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS -->
    <script src="vendor/animsition/animsition.min.js"></script>
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>
    {% endblock %}
</body>

</html>
<!-- end document-->